<div class="col-md-6 mx-auto">
	<form action="/profile" method="post" enctype="multipart/form-data">
  <input type="text" name="first-name" />
  <input type="text" name="last-name" />
  <input type="file" name="avatar" />
  <input type="submit" value="register" />
</form>
</div>