<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Search App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <h2>Book Search Engine</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3">
                <h6>Enter Language here</h5>
                <form action="/" method="get">
                    <input type="text" id="userInput" class="form-control" placeholder="Search" name="result">
                    <input type="submit" class="btn btn-success mt-3" onclick="/">
                </form>
            </div>
        </div>
    </div>
        
    
    {{{body}}}
    

</body>
</html>