.nav {
    /* Old Chrome, Safari and Opera */
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    -webkit-column-rule-color: lightblue;
    
    /* Old Firefox */  
    -moz-column-count: 3; 
    -moz-column-gap: 40px;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
    -moz-column-rule-color: lightblue;  
  
    /* Standard syntax */
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;

    width: 1100px;
  }